{% from "@macros/image.twig" import image %}
{% from "@macros/icon.twig" import icon %}

{% set shopInfo = ObjectApi.getShopInfo() %}
{% set shopUrls = ObjectApi.getShopUrls() %}
{% set underline = moduleConfig.underlineHeader == 1 %}
{% set levelHeader = moduleConfig.levelHeader is defined and moduleConfig.levelHeader ? moduleConfig.levelHeader : 'h2' %}


{# Nagłówek #}

{% if moduleConfig.showHeader == 1 %}
    <{{ levelHeader }} class="header header_{{ levelHeader }} {% if underline %} header_underline {% endif %}">

        <span {% if underline %} class="header_highlight" {% endif %}>
            {{ moduleConfig.textHeader }}
        </span>

    </{{ levelHeader }}>
{% endif %}



{# Logo #}

{% if moduleConfig.showLogo != 'none' %}
{% if moduleConfig.showLogo == 'image' and moduleConfig.image %}
<figure class="logo">
    <a href="{{ shopUrls.mainPageUrl }}">
        {{
        image({
        img: {
        src: moduleConfig.image.paths.original,
        width: moduleConfig.image.width,
        height: moduleConfig.image.height,
        alt: shopInfo.name ? : "",
        title: shopInfo.name,
        class: 'logo',
        fetchpriority: 'high'
        }
        },
        [
        {
        src: moduleConfig.image.paths.original,
        type: moduleConfig.image.format
        }
        ]
        )}}
    </a>
</figure>

<div>
{% elseif moduleConfig.textLogoInput and moduleConfig.showLogo != 'image'%}
<h5 class="header header_h5">
    {{ moduleConfig.textLogoInput }}
</h5>
{% else %}
<h5 class="header header_h5">
    {{ shopInfo.name }}
</h5>
{% endif %}
{% endif %}

{# Telefon i godziny #}

{% if moduleConfig.showPhone == 1 %}
<div class="contact">
    <p>
        {% if moduleConfig.phone %}
        {{ icon('icon-phone',{
        size: 's'
        })}}{{ moduleConfig.phone}}
        {% else %}
        {{ icon('icon-phone',{
        size: 's'
        })}} shop_phone
        {% endif %}
    </p>

    <p>
        {% if moduleConfig.workingHours %}
        {{ icon('icon-phone',{
        noStroke: true})}}{{ moduleConfig.workingHours }}
        {% endif %}
    </p>
</div>
{% endif %}


{# E-mail #}

{% if moduleConfig.showEmail == 1 %}
<p>
    {% if moduleConfig.email %}
    {{ icon('icon-mail',{
    size: 's'
    })}}{{ moduleConfig.email}}
    {% else %}
    {{ icon('icon-mail',{
    size: 's'
    })}} shop_email
    {% endif %}
</p>
{% endif %}
</div>